.parser {
    display: flex;
    font-family: 'Space Mono', sans-serif;
    color: #666666;
    justify-content: space-between;
    background-color: #f7f7f7;
    height: 100%;
}

.parser-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}